/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  padding: 10px 0;

  display: flex;
}
.header a{
    text-decoration: none;
    cursor: pointer;
}
.header .logo a{
    color:#fff;
    display:block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  
  font-weight: bold;
}

.nav-links li a:hover {
  color: #ffcc00;
}
